* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  body{
    font-family:Arial;
    padding-top: 3.125rem;
  }
   .container{
    width: 100%;
  }
  .todoHeader {
    text-align: center;
    margin-bottom: 1rem;
  }
  .inputSpc {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin: auto;
    width: 60%;
  }
  input{
    width:80%;
    padding-left: 0.625rem;
    border: none;
    border-bottom: 1px solid rgb(49, 47, 47);
  }
  input:hover {
    background-color: #f5f5f5;
  }
  input:focus {
    outline: none;
    border-bottom: 1px solid rgb(49, 47, 47);
  }
  button{
    padding:0.1rem 0.625rem;
    border: none;
    border-radius: 10px;
  }
  .mobileview {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    margin-top: 1.5rem;
    margin: 1.5rem auto 1.5rem auto;
    width: 80%;
  }
  aside {
    display: none;
  }
  #addBtn{
    font-size: 1.875rem;
    background-color: rgb(49, 47, 47);
    color: white;
    border: 1px solid rgb(49, 47, 47);
  }
  #addBtn:hover {
    border: 1px solid rgb(49, 47, 47);
    background-color: white;
    color: rgb(49, 47, 47);
  }
  input[type="checkbox"] {
    accent-color: rgb(49, 47, 47);
    height: 1.25rem;
    width: 1.25rem;
    place-self: center;
  }
  #bg-image {
    background-image: url(notepad-icon.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 360px;
    margin: auto;
    height: 21.875rem;
    opacity: 0.1;
  }
  #image-text {
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.5;
  }
  .taskText {
    display: inline-block;
    overflow-wrap: break-word;
    min-width: 0;
  }
  .deleteBtn {
    width: 1.25rem;
    height: 1.25rem;
    background-color: white;
    padding: 0;
    place-self: center;
  }
  .deleteBtn:hover {
    border: 1px solid rgb(49, 47, 47);
    color: white;
    background-color: rgb(49, 47, 47);
  }
  li{
    width: 70%;
    margin: 1.25rem auto 0 auto;
    display:grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    border:1px solid #ddd;
    border-radius: 0.625rem;
    padding: 0.625rem;
  }

@media (min-width :768px){
  body{
    font-family:Arial;
    display:flex;
    justify-content:center;
    padding-top: 3.125rem;
  }
  .container {
    width: 400px;
  }
  button{
    padding:0.3rem 0.625rem;
    border: none;
    border-radius: 10px;
  }
  .mobileview {
    display: none;
  }
  aside {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 1.5rem;
    font-size: 0.875rem;
  }
  #bg-image {
    width: 100%;
  }
  .inputSpc {
    column-gap: 1rem;
    width: 100%;
  }
  #image-text {
    font-size: 1.5rem;
  }
}